#realestate_container
{
  padding-top:10px !important;
}
.select-box-meta option  
 {
    width:120px !important;
   	font-size: 100%;
} 
    .img_multiGallery
{
    border: 0px solid #6e6e71 !important;
}
.realestate_navigation 
{
    width: 100%;
    margin:auto;
    text-align:center;
    padding: 0px;
    margin-top: 0px;
    padding-bottom: 30px;
    padding-top:  10px;
}
#realestate_content {
	margin-left: 0px;
	padding: 0px;
    width: 100% !important; 
}
@media only screen and (max-width: 800px)
{
    	#realestate_content {
    	font-size: 12px !important; 
        }
}